<h2>Voici tous nos articles</h2>
<p><% @articles.each do |article|%></p>
<p><%= article.name %></p>
<p><%= article.description %></p>
<p><%= article.price %>€</p>
<%= link_to "Voir l'article", article_path(article)%>

<% end %>