<h1>Bienvenue sur notre page d'accueil, work in progress !</h1>

<h2>Liste des articles</h2>
<p><% @articles.each do |article|%></p>
<p><%= article.name %></p>
<p><%= article.description %></p>
<p><%= article.price %>€</p>
<br>
<% end %>


